<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
</head>
    <body>
        <div class="alert alert-light" role="alert">
            <h1>Миссия Колонизация Марса</h1>
        </div>
        <h4 style='opacity: 0.3'>И на Марсе будут яблони цвести!</h4>
        <h2 style="margin-left: 5%">Список профессий</h2>
        <{{list}} style="margin-left: 5%">
            <li>инженер-исследователь</li>
            <li>пилот</li>
            <li>строитель</li>
            <li>экзобиолог</li>
            <li>врач</li>
            <li>инженер по терраформированию</li>
            <li>климатолог</li>
            <li>специалист по радиационной защите</li>
            <li>астрогеолог</li>
            <li>гляциолог</li>
            <li>инженер жизнеобеспечения</li>
            <li>метеоролог</li>
            <li>оператор марсохода</li>
            <li>киберинженер</li>
            <li>штурман</li>
            <li>пилот дронов</li>
        </{{list}}>
    </body>
</html>
